body {
  background: #f6f6fa;
  padding: 40px 40px 40px 40px;
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

/* Main content */

.main-content {
  padding: 80px 80px 40px 80px;
  box-sizing: border-box;
}

/* Sidebar */

.sidebar {
  background: #e0ebfe;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 370px;
}

.sidebar-content {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
}

/* Contacts */

.contacts-title {
  font-weight: 700;
  font-size: 22px;
  color: #161d2a;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.contacts-type {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-item {
  color: #2979ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.contacts-item {
  margin-top: 0;
  margin-bottom: 4px;
}

.contacts-container {
  margin-bottom: 40px;
}

/* Skills container */

.skills-container {
  margin-bottom: 40px;
}

.skills-title {
  margin-top: 0;
  margin-bottom: 8px;
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
}

.skills-list {
  padding-left: 24px;
  margin-top: 0;
}

.skills-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
/* My-info */
.my-profession {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}
.my-name {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.22;
  color: #000;
  margin-top: 0;
  margin-bottom: 12px;
}

.my-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #595959;
}
.my-info-container {
  margin-bottom: 40px;
}
/* Projects */

.projects-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.23;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.projects-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #000;
}

.projects-list-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: underline;
  color: #005fff;
}

.projects-github-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: underline;
  color: #005fff;
}
.projects-list {
  padding-left: 16px;
}

.projects-list-text {
  display: inline;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #595959;
  margin: 0;
}
.projects-span {
  font-weight: 600;
}
.project {
  margin-bottom: 40px;
}

/* Work */
.work-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.23;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}
.work-experience-company {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #000;
  margin-top: 0;
  margin-bottom: 12px;
}
.company {
  color: #6d9bf5;
}
.work-experience-time {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #a8a8a8;
  margin-bottom: 8px;
}
.palka {
  color: #000;
}
.work-experience-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #595959;
  margin-top: 0;
}
.work-experience-list {
  padding-left: 24px;
}
.work-company {
  margin-bottom: 12px;
}
.work-experience {
  margin-bottom: 40px;
}

/* Education */

.education-list {
  list-style: none;
  padding-left: 10px;
}

.education-title {
  font-weight: 700;
  font-size: 22px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.education-place {
  font-weight: 700;
  font-size: 16px;
  color: #6d9bf5;
  margin-top: 0;
  margin-bottom: 8px;
}

.education-direction {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}
.education-time {
  font-weight: 400;
  font-size: 12px;
  color: #a8a8a8;
  margin-top: 0;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .main-content {
    padding: 40px;
  }
  .my-name {
    font-size: 36px;
  }
  .sidebar {
    width: 300px;
  }
  .my-foto {
    width: 300px;
  }
  .sidebar-content {
    padding: 20px;
  }
  body {
    padding: 20px;
  }
}

@media screen and (max-width: 750px) {
  body {
    padding: 0;
  }
  .wrapper {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
  .my-foto {
    width: 100%;
  }
  .main-content {
    padding: 20px;
  }
  .my-name {
    font-size: 30px;
  }
}
